<section id="pokemon-card">
    <div class="card" style="width: auto;">
        <div class="card-divider">
            <div class="row">
                <div id="dex" class="small -2 columns">Dex #</div>
                <div id="name" class="small -2 columns">Pokemon Name</div>
            </div>
        </div>
        <div class="img" src="public/javascript/generate-card.js"></div>
        <div id="types" class="card-section">
            <div class="small -2 columns">Type 1</div>
            <div class="small -2 columns">Type 2</div>

            <div id="stats" class="row">
                <div class="medium-3">HP</div>
                <div class="medium-3">Attack</div>
                <div class="medium-3">Sp. Attack</div>
            </div>
            <div id="stats" class="row">
                <div class="medium-3">Speed</div>
                <div class="medium-3">Defense</div>
                <div class="medium-3">Sp. Defense</div>
            </div>

        </div>
    </div>
    </div>
</section>