<div>
    <header class="nav">
        <h2>Home</h2>
        <h1>Poke TeamWise</h1>
        <h2>Login</h2>
    </header>
    <section class="hero">
        <h1>Poke TeamWise</h1>
        <h2>The place where Pokemon fans make battle-ready teams.</h2>
    </section>
    <section class="description">
        <h2>Where Great Teams Are Made</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quisquam inventore quod velit eos consequuntur
        neque tempore blanditiis atque officia! Reiciendis eum aliquid tempora fugiat et quam, asperiores sit
        voluptatem?
    </section>
    <section class="start">
        <h1>Ready to ?</h1>
        <button type="button">Let's Get Started</button>
    </section>
</div>