<div class="title">
    <h1>{{Team PokeWise}}</h1>
    <div class="body">
        {{The place where Pokemon fans make battle-ready teams.}}
    </div>
    <div class="description">
        {{Where Great Teams Are Made}}
    </div>
</div>