<!DOCTYPE html>
    <html lang="en">

        <head>
            <meta charset="UTF=8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Pokemon Teamwise</title>
            <link rel="stylesheet" href="/stylesheets/style.css";
            <body>
                <header></header>
                <main>
                    {{{ body }}}
                </main>
                <footer></footer>
                {{#if loggedIn}}
                <script src="/javascript/logout.js"></script>
                {{/if}}
            </body>
        </head>
    </html>