<div class="row float-left">
    <div class="small-6 columns">
        <form>
            <h2> Team Name
                <select>
                    <option value="Teamname">Team Name</option>
                    <option value="Red">Red</option>
                    <option value="Blue">Blue</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Green">Green</option>
                </select>
            </h2>
        </form>
    </div>
</div>

<div class="row float-right">
    <div class="small-6 columns">
        <h2> Favorites </h2>
    </div>
    <div>
        <h4>Dex #</h4>
        <h4> Pokémon name </h4>
        <p> type </p>
    </div>
    <div>
        <h4>Dex #</h4>
        <h4> Pokémon name  </h4>
        <p> type </p>
    </div>
    <div>
        <h4>Dex #</h4>
        <h4> Pokémon name </h4>
        <p> type </p>
    </div>
    <div>
        <h4>Dex #</h4>
        <h4> Pokémon name </h4>
        <p> type </p>
    </div>
    <div>
        <h4>Dex #</h4>
        <h4> Pokémon name </h4>
        <p> type </p>
    </div>
    <div>
        <h4>Dex #</h4>
        <h4> Pokémon name </h4>
        <p> type </p>
    </div>
</div>


