<section id="teams-page" class="grid-x">
    <aside id="members-window" class="cell medium-3">
        <form class="grid-x" id="team-form">
                <section class="cell auto">
                    <label id="team-title"> Team Name
                        <select id="team-selector">
                            <option value="">Pick a Team</option>
                            {{#each teams as |team|}}
                            <option value="{{team.id}}">{{team.team_name}}</option>
                            {{/each}}
                        </select>
                    </label>
                    <button type="click" id="update-btn" class="cell auto small-2 button">Go</button>
                    <button type="click" id="delete-btn" class="cell auto small-2 button">Delete</button>
                </section>
            </form>
        {{#each membersDetails as |member|}}
        <article id="slot-{{member.memberNum}}" class="roster-slot grid-x">
            <section class="member-tile cell auto">
                {{> member-tile member=member}}
            </section>
        </article>
        {{/each}}
    </aside>
    <section class="cell auto">
        <section id="pokemon-details" class="grid-container fluid">
            <div class="grid-x">
                <section id="pokemon-details-container" class="cell medium-10">
                    {{> pokemon-card}}
                </section>
                <section id="evolutions-container" class="cell medium-2">
                    {{> evolution-chain}}
                </section>
            </div>
        </section>
    </section>
</section>

<<<<<<< HEAD
<script src="/javascript/dashboard.js"></script>

<script src="/javascript/delete-team.js"></script>
