<section class="grid-x">
    <aside id="members-window" class="cell medium-3">
        <h3 class="aside-title">Team Roster</h3>
        <article id="member-1">
        {{!-- TODO: add generator-roster-card here --}}
        </article>
        <article id="member-2">
        {{!-- TODO: add generator-roster-card here --}}
        </article>
        <article id="member-3">
        {{!-- TODO: add generator-roster-card here --}}
        </article>
        <article id="member-4">
        {{!-- TODO: add generator-roster-card here --}}
        </article>
        <article id="member-5">
        {{!-- TODO: add generator-roster-card here --}}
        </article>
        <article id="member-6">
        {{!-- TODO: add generator-roster-card here --}}
        </article>
    </aside>
    <section id="generator-center" class="cell medium-6">
        <section id="generator-controls" class="grid-container fluid">
            <form id="generator-form" class="grid-x">
                <section id="game-select-container" class="cell auto">
                    <label for="game-select">Game
                        <select id="game-select" name="game-select" required>
                            <option value="" selected>Pick a Game</option>
                            {{#each games as |game|}}
                            <option value="{{game.dexId}}">{{game.name}}</option>
                            {{/each}}
                        </select>
                    </label>
                </section>
                <section id="type-select-container" class="cell auto">
                    <label for="type-select">Types
                        <select name="type-select" id="type-select">
                            <option value="">Optional</option>
                            {{#each types as |type|}}
                            <option value="{{type}}">{{type}}</option>
                            {{/each}}
                        </select>
                    </label>
                </section>
                <button type="submit" id="generate-btn" class="cell small-2 button">Go!</button>
            </form>
        </section>
        <section id="pokemon-details" class="">

        </section>
    </section>
    <aside id="favorites-window" class="cell medium-3">
        <h3 class="aside-title">Favorites</h3>
        {{!-- TODO: add generator-favorite here --}}
    </aside>
</section>