<div>
    <section class="hero">
        <div id="hero-image">
            <img src="public/assets/pokemon-banner.jpg" alt="pokemon variety">
        </div>
        <div class="large-6 columns">
            <h2>The place where Pokémon fans make battle-ready teams.</h2>
        </div>
    </section>
    <section class="description">
        <div class="large-6 columns">
            <p>Are you tired of not being able to figure out what kind of team you want to play with? Well, we have the
            solution right here! Introducing
            Team PokéWise! Here you can create any team you'd like from any version of the most popular game in the
            world.</p>
        </div>
        <div class="large-6 columns">
            <h1>Ready to become a Pokémon legend?</h1>
            <a href="/generator" class="button">Let's Get Started!</a>
        </div>
    </section>
</div>

{{!source to css stylesheet for home page!}}
<script src="public/stylesheets/styles.css"></script>
