<div id="homepage-container">
    <section id="hero" class="grid-x grid-padding-x align-middle align-spaced">
        <h2 id="hero-title" class="cell medium-4">Poké<br>Teamwise</h2>
        <p id="hero-subtitle" class="cell medium-8">The place where Pokémon fans make battle-ready teams.</p>
    </section>
    <section class="description-container grid-x grid-padding-x align-middle">
        <div class="cell medium-6">
            <h3 class="description">
                Are you tired of not being able to figure out what kind of team you want to play with?
                Well, we have the solution right here! Introducing Team PokéWise!
                Here you can create any team you'd like from any version of the most popular game in the world.
            </h3>
        </div>
        <div id="legend" class="medium-6 cell">
            <h2 class="homepage-ready-text">Ready to become a Pokémon legend?</h2>
            <a href="/generator" id="button" class="button btn">Let's Go!</a>
        </div>
    </section>
</div>

{{!source to css stylesheet for home page!}}
<script src="public/stylesheets/styles.css"></script>