<div>
    <section class="hero">
        <div class="large-6 columns">
            <h1>Poke TeamWise</h1>
        </div>
        <div class="large-6 columns">
            <h2>The place where Pokemon fans make battle-ready teams.</h2>
        </div>
    </section>
    <section class="description">
        <div class="large-6 columns">
            <h2>Where Great Teams Are Made</h2>
            Are you tired of not being able to build an all-star Pokemon team? Well, we have the solution right here! Introducing
            Team PokeWise! Here you can create any team you'd like from any version of the most popular game in the world.
        </div>
        <div class="large-6 columns">
            <h1>Ready to become a Pokemon legend?</h1>
            <a href="/generator" class="button">Let's Get Started</a>
        </div>
    </section>
</div>