<div>
    <section id="hero" class="row">
        <div id="battle" class="large-6 column">
            <h2>The place where Pokémon fans make battle-ready teams.</h2>
        </div>
    </section>
    <section class="description">
        <div class="row large-6 column">
            <p><h3>Are you tired of not being able to figure out what kind of team you <br> want to play with?
                Well, we have the solution right here! Introducing <br>
                Team PokéWise! Here you can create any team you'd like
                from any version of the most popular game in the world.</h3></p>
        </div>
        <div id="legend" class="row large-6 column">
            <h1>Ready to become a Pokémon legend?</h1>
            <a href="/generator" id="button" class="button">Let's Get Started!</a>
        </div>
    </section>
</div>

{{!source to css stylesheet for home page!}}
<script src="public/stylesheets/styles.css"></script>