<div id="login-page" class="grid-x">
    <form id="login-form" class="cell large-6 small-12">
        <label for="email-login">Email
            <input type="text" name="email-login" id="email-login">
        </label>
        <label for="password-login">Password
            <input type="password" name="password-login" id="password-login">
        </label>
        <button type="submit" class="button btn">Login</button>
    </form>
    <form id="signup-form" class="cell large-6 small-12">
        <label for="username-signup">Username
            <input type="text" name="username-signup" id="username-signup">
        </label>
        <label for="email-signup">Email
            <input type="text" name="email-signup" id="email-signup">
        </label>
        <label for="password-signup">Password
            <input type="password" name="password-signup" id="password-signup">
        </label>
        <button type="submit" class="button btn">Sign Up</button>
    </form>
</div>

{{!-- script for login/signup form logic --}}
<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>