:root {
    /* colors */
    --primary-red-hex: #F5413D;
    --light-red-hex: #F7716E;
    --dark-red-hex: #DA100B;
    --primary-blue-hex: #1672EC;
    --light-blue-hex: #5096F1;
    --dark-blue-hex: #0F56B3;
    --primary-yellow-hex: #F0D042;
    --light-yellow-hex: #F4DB71;
    --dark-yellow-hex: #D4B011;
    --white: #FFF;
    --black: #000;
    --gray-hex: #818181;
    --light-gray-hex: #C0C0C0;

    /* font sizes */
    --xxl-font: 48px;
    --xl-font: 40px;
    --l-font: 36px;
    --m-font: 32px;
    --s-font: 20px;
    --xs-font: 14px;
    --xxs-font: 12px;

    /* font weights */
    --bold-weight: 700;
    --medium-weight: 500;
    --regular-weight: 400;
    --light-weight: 300;

    /* border radiuses */
    --card-border-radius: 10px;
    --tile-border-radius: 5px;

    /* padding/margin base amount (use calc(var(--spacing)*x) to change size */
    --spacing: 10px;
}   

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Anek Telugu', sans-serif;
    font-weight: var(--regular-weight);
    height: 100vh;
}
main {
    height: 100%;
}
p {
    margin: 0;
}

/* main template styles */
.navbar {
    background-color: var(--primary-red-hex);
    padding-left: calc(var(--spacing)*2);
    padding-right: calc(var(--spacing)*2);
}
.nav-link {
    color: var(--white);
    text-decoration: none;
    font-size: var(--xs-font);
}
.nav-link:hover {
    color: var(--light-gray-hex);
}
#nav-title {
    font-size: var(--s-font);
    font-weight: 700;
}

/* favorite button styles */
.fave-btn-outline {
    background-image: url('../assets/fave-outline.png');
    background-repeat: no-repeat;
    background-size: 21px 21px;
}
.fave-btn-outline:hover {
    background-image: url('../assets/fave-outline-hover.png');
}
.fave-btn-fill {
    background-image: url('../assets/fave-fill.png');
    background-repeat: no-repeat;
    background-size: 21px 21px;
}
.fave-btn-fill:hover {
    background-image: url('../assets/fave-fill-hover.png');
}

/* login/signup page styles */
#login-page {
    height: 100%;
}
#signup-form,
#login-form {
    padding: calc(var(--spacing)*2);
    overflow: hidden;
}
#login-form {
    max-height: 30%;
}
#signup-form {
    height: 100%;
    background-color: var(--light-gray-hex);
}
#signup-form button,
#login-form button {
    background-color: var(--primary-blue-hex);
}
#signup-form button:hover,
#login-form button:hover {
    background-color: var(--light-blue-hex);
}

/* dashboard styling */

#fav-title{
    font-weight: var(--bold-weight);
    color: var(--white);
}

#fav-card {
    background-color: var(--light-gray-hex);
}

#team-title  {
    color: var(--white);
    font-weight: 500;
    font-size: var(--l-font);
    margin: 10px auto;
    text-align: center;
}

#aside-title {
    color: var(--white);
    font-weight: 500;
    font-size: var(--l-font);
    margin: 10px auto;
    text-align: center;
}

#team-selector {
    font-weight: var(--medium-weight);
    font-size: var(--s-font);
}

#teams-page{
    height: 100%;
}

#member-form {
    width: 100%;
}

#member-controls {
    display: flex;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    width: 20%;
}

#details-btn {
    background-color: var(--primary-blue-hex);
    padding-top: calc(var(--spacing)*1.2);
    padding-bottom: calc(var(--spacing)*1.2);
    margin-top: auto;
}

/* generator styles */
#generator-page {
    height: 100%;
}
#members-window,
#favorites-window {
    background-color: var(--light-gray-hex);
    height: auto;
}
#generator-controls {
    display: flex;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}
#generator-form {
    width: 100%;
}
#game-select-container,
#type-select-container {
    margin-right: var(--spacing);
}
#generate-btn {
    background-color: var(--primary-blue-hex);
    padding-top: calc(var(--spacing)*1.2);
    padding-bottom: calc(var(--spacing)*1.2);
    margin-top: auto;
}
#generate-btn:hover {
    background-color: var(--light-blue-hex);
}
.aside-title {
    color: var(--white);
    font-weight: 500;
    font-size: var(--l-font);
    margin: 10px auto;
    text-align: center;
}

/* roster tile styles */
.member-tile {
    background-color: var(--white);
    margin-right: calc(var(--spacing)*2);
    margin-left: calc(var(--spacing)*2);
    margin-bottom: var(--spacing);
    padding: var(--spacing);
    border-radius: var(--tile-border-radius);
}
.member-nums,
.pokemon-name-container {
    margin-bottom: calc(var(--spacing)*0.25);
}
.roster-dex-num {
    color: var(--primary-red-hex);
    font-size: var(--s-font);
    font-weight: var(--medium-weight);
}
.member-num {
    color: var(--light-gray-hex);
    font-size: var(--s-font);
}
.member-name {
    font-size: var(--s-font);
    font-weight: var(--bold-weight);
}
.type {
    color: var(--gray-hex);
    font-size: var(--s-font);
}

/* MEDIA QUERIES */
/* medium and up */
@media screen and (min-width: 40em) {
    .nav-link {
        font-size: var(--s-font);
    }
    #nav-title {
        font-size: var(--l-font);
    }
}

/* large and up */
@media screen and (min-width: 64em) {
    .nav-link {
        font-size: var(--m-font);
    }
    #nav-title {
        font-size: var(--xl-font);
    }
}